
@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Administrator/Views/Shared/_layout.cshtml";
    var dienthoai = ViewBag.DienThoai as List<Database.EF.tbl_ProductCatalog>;
    var laptop = ViewBag.Laptop as List<Database.EF.tbl_ProductCatalog>;
}

@section TitlePage{
    Các hãng sản phẩm
}

<div class="card">
    <div class="card-block">
        <a href="/Administrator/them-hang" class="btn btn-outline-info">Thêm hãng</a>
        <h4 class="card-title">Danh sách các hãng điện thoại</h4>
        
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Tên hãng</th>
                    <th>Logo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in dienthoai)
                {
                    <tr>
                        <td>@item.CatalogProductName</td>
                        <td>
                            <img src="@item.Image" alt="@item.CatalogProductName" />
                        </td>
                        <td>
                            <a href="/Administrator/cap-nhat-hang-@item.CatalogProductID">Cập nhật</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h4 class="card-title">Danh sách các hãng Laptop</h4>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Tên hãng</th>
                    <th>Logo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in laptop)
                {
                    <tr>
                        <td>@item.CatalogProductName</td>
                        <td>
                            <img src="@item.Image" alt="@item.CatalogProductName" />
                        </td>
                        <td>
                            <a href="/Administrator/cap-nhat-hang-@item.CatalogProductID">Cập nhật</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>