@model Database.EF.tbl_News
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tinLienQuan = ViewBag.TinLienQuan as List<Database.EF.tbl_News>;
}
<style>
    .detail-new img {
        max-width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<!-- banner -->
<div class="banner banner10">
    <div class="container">
        <h2>Tin tức @ViewBag.a</h2>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>Tin tức</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 ">
                <div class="detail-new jumbotron">
                    <h1 class="display-3">@Model.Title</h1>
                    <small>
                        @Model.CreateBy - @Model.CreateDate
                    </small>
                    <hr />
                    <div id="content" class="text-justify">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
                <div class="tin-lien-quan">
                    
                    <h2>Tin liên quan</h2>
                    <hr />
                    <div class="row">
                        @foreach (var item in tinLienQuan)
                        {
                            <div class="col-md-4" style="padding-bottom:10px">
                                <a href="/chi-tiet-tin-tuc/@item.MetaTitle-@item.NewID">
                                    <img src="@item.Image" width="100%" alt="Alternate Text" />
                                    <h4>@item.Title</h4>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
