@model PagedList.IPagedList<Database.View.NewsView>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script src="/Assets/Client/Controller/AutoCompleteNew.js"></script>
}
<style>
    img {
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<!-- banner -->
<div class="banner banner10">
    <div class="container">
        <h2>Tin tức @ViewBag.url</h2>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>Tin tức</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-8">
                <form action="/tin-tuc" autocomplete="off">
                    <div class="col-md-10">
                        <input type="text" id="txtKeyWord" name="KeyWord" class="form-control" placeholder="Từ khóa" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success">Tìm kiếm</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="tintuc row">
                            <a href="/chi-tiet-tin-tuc/@item.metaTitle-@item.NewID">
                                <div class="col-md-4">
                                    <img src="@item.Image" width="250" height="140" alt="Alternate Text" style="display:block;" />
                                </div>
                                <div class="col-md-8">
                                    <h3>@item.Title</h3>
                                    <p>@item.NoiDungTomTat</p>
                                </div>
                            </a>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <h2>Đang cập nhật</h2>
                }
                @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }) + "?KeyWord="+ViewBag.KeyWordSearch, new
                         PagedListRenderOptions
                    {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 5
                    })*@
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, KeyWord = ViewBag.KeyWordSearch }), new PagedListRenderOptions
           {
               DisplayLinkToFirstPage = PagedListDisplayMode.Never,
               DisplayLinkToLastPage = PagedListDisplayMode.Never,
               DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
               DisplayLinkToNextPage = PagedListDisplayMode.Always,
               MaximumPageNumbersToDisplay = 5
           })
            </div>
            <div class="col-md-3">
                San phẩm
            </div>
        </div>
    </div>
</div>
<!-- //about -->
@*<script src="/Assets/Client/Controller/AutoCompleteNew.js"></script>*@
