@model Database.EF.tbl_News

@{
    ViewBag.Title = "CapNhat";
    Layout = "~/Areas/Administrator/Views/Shared/_layout.cshtml";
}

@section TitlePage{
    Cập nhật tin tức
}

@section jsFooter{
    <script>
        //CKFinder
        $('#imgLoad').attr("src", $('#txtImage').val());
        $('#btnChonAnh').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
                $('#imgLoad').attr("src", url);
            };
            finder.popup();
        })
        //CKEditor
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Public/Plugins/ckeditor/config.js'
        });
    </script>
}


<div class="card">
    <div class="card-block">
        <h4 class="card-title">Đăng tin tức</h4>
        <hr />
        @using (Html.BeginForm("CapNhat","TinTuc",FormMethod.Post,new { @autocomplete="off"}))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>Model.NewID)
                <div class="form-group row">
                    @Html.LabelFor(model => model.CategoryNewID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CategoryNewID, ViewBag.ListCategory as SelectList, "Chọn danh mục tin tức", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryNewID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Image,new { @class = "form-control", @id = "txtImage" })
                        <img width="250px" height="250px" id="imgLoad" />
                        <a href="#" id="btnChonAnh">Chọn ảnh</a>
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.SummaryText, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.SummaryText, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SummaryText, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "txtContent" })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-outline-success" />
                        <a href="@Url.Action("Index","TinTuc")" class="btn btn-outline-dark">Danh sách tin tức</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>